
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
}
hr{
  clear: right;
  background-color: #EAF6F6;
  border-style: dotted none none;
  border-color: grey;
  border-width: 6px;
  width: 4%;
  opacity: 0.5;
}
h1{
  line-height: 1;
  color:#66BFBF;
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-weight: bold;
  color:#66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  font-weight: bolder;
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width:40%;
  margin:40px auto 60px;
}
.top-container{
  padding-top: 100px;
  background-color: #E4F9F5;
  margin-bottom: 40px;
}
.middle-container{
  margin:100px 0;
}
.top-cloud{
  position: absolute;
  right:30%;
  top:40px;
}
.bottom-cloud{
  position: absolute;
  left:250px;
  top:300px;
}
.profile{
  margin-top: 50px;
  line-height: 2;
  margin-bottom: 100px;
}
.skill-row{

  text-align: left;
  margin: 100px auto 100px auto;
  width: 50%;
}
.coding-image{
  float: left;
  width: 25%;
  margin-right: 30px;
}
.gaming-image{
  float: right;
  width: 25%;
  margin-left: 30px;
}
.contact-me{
  line-height: 2;
  margin-bottom: 40px;
}



.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 50px;
  color: #11999E;
}
.bottom-container{
  margin-top: 5rem;
  padding: 60px;
  background-color: #66BFBF;
}
.name-surname{
  margin-top: 40px;
  color: #EAF6F6;
}
